.app-navigation {
  .dropdown:hover {
    .dropdown-toggle {
      color: #29BB9C;
    }
    .dropdown-menu {
      display: block;
      background-color: #35495D;
      border-radius: 0px;
      padding: 1rem 2rem;

      a {
        font-size: 1.5rem;
      }
    }
  }

  .dropdown-toggle:after {
    position: relative;
    top: 1.2rem;
  }
}


