body {
  font-size: 16px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/**
 * Login Form.
 */
.login-form {
  max-width: 300px;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.login-form__input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.login-form__cta {
  display: block;
  border: 1px solid;
  padding: 0.5rem;
}