body {
  font-size: 16px;
}
.container {
  max-width: 450px;
  margin: 2rem auto;
}

.App-header {
  background-color: #222;
  color: white;
}
.App-header__wrapper {
  height: 80px;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}
.App-header .stockwatch-logo {
  position: absolute;
  left: 0;
  top: 10px;
  height: 60px;
  width: 60px;
}
.App-header__login {
  position: absolute;
  right: 0;
  top: 25px;
}
.App-header__title {
  display: block;
  text-align: center;
  padding-top: 27px;
  font-size: 1.25rem;
}

/**
 * Form Styles.
 */
.form-input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.form-cta {
  display: block;
  border: 1px solid;
  padding: 0.5rem;
}

/**
 * Login Form.
 */
.login-form {
  max-width: 450px;
  margin: 2rem auto;
}
.login-form__logo {
  margin-bottom: 2rem;
}

.login-form__logo img {
  width: 100%;
}

/**
 * Search box and results.
 */
